RewriteEngine On

####################################################################################################################
## Uncomment If Using SSL - NOTE: For Full HTTPS, MacroAxis License is required and all forms must be re-written. ##
####################################################################################################################

#RewriteCond %{HTTPS} =off
#RewriteRule ^(login|join|join2)\.php$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#RewriteCond %{HTTPS} =on
#RewriteCond %{REQUEST_URI} !^/(login|join|join2)\.php$
#RewriteRule .* http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
